* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 95%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  /* padding-bottom: 10px; */
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 10px;
  background: #4e5d6c;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
}

.navbar {
  padding: 5px;
  margin: 0;
}

/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  /* color: white; */
}

/* Adding styles to the aside and filter form */
.ufo-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.panel {
  margin-bottom: 0px;
}

.filters {
  margin-top: 0px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

input {
  width: 100%;
}

.form-control {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

#table-area {
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(102, 100, 100);
}

#table-area th {
  text-align: left; 
}

#table-area td {
  text-align: left; 
  /* border: 1px solid; */
}

#table-area th:first-child,
#table-area th:nth-last-child(){
  text-align: left;
} 

.loader {
  margin-top: 50px;
}

.margin-top-40 {
  margin-top: 40px;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 150px;
  padding: 10px;
  margin: 0;
  background: #1b3146;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  /* margin-top: 50px; */
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero h3 {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 200;
  animation: title 1.2s forwards linear;
}


/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dbe2e9;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #dbe2e9;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #dbe2e9;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #dbe2e9;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: white;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: left;
    color: white;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }

  .hero h3 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 3.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* *************************************************** */

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-group {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.panel-heading {
  padding-bottom: 5px;
}

p {
  margin-bottom: 0px;
}

/* Define the zoom property to zoom in/out an image */
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2); /* set zoom percentage, 2 = 200% zoom out) */
  position: relative;
  z-index: 2;
}
/* *************************************************** */


/* ******************************************************************************** */
/* Create a fixed table header with scrollable table body */
/* ******************************************************************************** */

@media (max-width: 800px) {
  #divScroll {
    height: 150px;
  }
}

.divScroll {
  Overflow-y: scroll;
  display: block;
  height: 300px;
  width: 100%;
}

.table-head {
  border: 1px solid white;
  background-color: black;
  color: white;
  display: fixed;
  position: sticky;
  top: 0;
}

.btn-primary{
  background-color:blue
}
